<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/quasar@1.15.0/dist/quasar.css" rel="stylesheet" type="text/css">    
  </head>
  <body>
    <div id="app">
      <div class="row">
        <div class="col-12 col-md-3 q-pa-md">
          <!-- menu -->
          <input type="text" v-model="token">
          <button @click="start()">Start</button>
          <div v-if="currentUser">
            <h6>User</h6>
            <q-chip>
              <q-avatar>
                <img :src="currentUser.avatarUrl" />
              </q-avatar>
              {{currentUser.name}}
            </q-chip>
          </div>
          <div v-if="chats">
            <h3>Chats</h3>
            <button @click="createChat">add chat</button>
            <q-list bordered separator v-for="(chat,index) in chats" v-if="chats" :key="index">
              <q-item clickable>
                <q-item-section @click="showChat(chat.chatId)">
                  <q-item-label>{{ chat.chatId }}
                    <q-badge v-if="chat.countNotViewed !== 0" outline color="primary" />{{chat.countNotViewed}}</q-badge>
                  </q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </div>
        </div>
        <div class="col-12 col-md-9 q-pa-md">
          <!-- content -->
          <div v-if="selectedChat">
            <div class="row">
              <div class="col-12 col-md-6 q-pa-md">
                <h6 v-if="selectedChat">Chat {{selectedChat}}</h6>
                <button v-if="selectedChat" @click="setAllMessagesStatusViewed(selectedChat)">mark all viewed</button>
                <span v-if="selectedChatInfo">{{selectedChatInfo}}</span>
              </div>
              <div class="col-12 col-md-6 q-pa-md">
                <h6 v-if="selectedChatUsers">Users</h6>
                <input type="text" v-model="addUserId"><button @click="addUserToChat()">Add</button>
                <div>
                  <ul v-for="(user,index) in selectedChatUsers" :key="index">
                    <li>{{user.userId}}
                      <button @click="deleteUserIdFromChat(user.userId)">del</button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div v-if="selectedChatMessages">
              <h6>Messages</h6>              
              <div>
                <q-scroll-area ref="scrollArea" style="height: 500px; width: 100%;">
                  <div v-for="(message,index) in selectedChatMessages" :key="index">
                    <q-chat-message
                      :name="format(message.sender)"
                      :avatar="message.sender.avatarUrl"
                      :stamp="message.date"
                      :sent="isMine(message)"
                      v-observe-visibility="async function (isVisible, entry) { visibilityChanged(isVisible, entry, message); }"
                    >
                      {{ message.content }}
                    <br/>
                      {{ message.viewed }}
                    <br>
                    <button v-if="!isMine(message)" @click="setMessageStatusReceived(message.chatId,message.messageId)">mark received</button>
                    <button v-if="!isMine(message)" @click="setMessageStatusViewed(message.chatId,message.messageId)">mark viewed</button>
                    <button @click="getMessageStatus(message.chatId,message.messageId)">info</button>
                    </q-chat-message>
                  </div>
                </q-scroll-area>
                send message <input type="text" v-model="message" style="width:70%" @changed=""><button @click="sendMessage()">Add</button>
              </div>              
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" 
      integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" 
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@1.15.0/dist/quasar.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-observe-visibility@1.0.0/dist/vue-observe-visibility.umd.min.js"></script>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          baseUrl: 'http://localhost:3010/v1/',
          currentUserId: null,
          currentUser: null,
          chats: null,
          addUserId: null,
          selectedChatMessages: null,
          selectedChat: null,
          selectedChatInfo: null,
          selectedChatUsers: null,
          message: null,
          token:'wewe',
          exampleSocket: null,
        },
        mounted () {
          this.exampleSocket = new WebSocket("ws://localhost:3010");
          function onMessage (e) {
            const message = JSON.parse(e.data);
            if (message.type === 'message') {
              if (message.content.chatId !== this.selectedChat) return;
              const data = Array.from(this.selectedChatMessages);
              data.push(message.content);
              this.selectedChatMessages = data;
              this.$refs.scrollArea.setScrollPercentage(100,1000);
            } else if (message.type === 'countNotViewed') {
              const data = Array.from(this.chats).map(chat => {
                if (chat.chatId === message.content.chatId) {
                  chat.countNotViewed = message.content.countNotViewed;
                }
                return chat;
              });
              this.chats = data;
            }
          }
          this.exampleSocket.onmessage = onMessage.bind(this);
        },
        methods: {
          async visibilityChanged (isVisible, entry, message) {
            // console.log(isVisible, message);
            if (!message.viewed && isVisible) {
              console.log('pass message', message);
              await axios.get(this.baseUrl + `chat/${this.selectedChat}/message/${message.messageId}/viewed`);
              this.selectedChatMessages = (await axios.get(this.baseUrl + `chat/${this.selectedChat}/messages`)).data;
            }
          },
          isMine(message) {
            return message.sender.userId === this.currentUserId;
          },
          format (sender) {
            const name = sender.name ? sender.name : '';
            const userId = sender.userId;
            return name + ' (' + userId + ')';
          },
          async start() {
            axios.defaults.headers.common['x-api-key'] = this.token;
            this.currentUser = (await axios.get(this.baseUrl + `user/me`)).data;
            this.currentUserId = this.currentUser.userId;
            this.chats = (await axios.get(this.baseUrl + `chats`)).data;
            const subscribe = {action:'subscribe', userId: app.currentUserId};
            this.exampleSocket.send(JSON.stringify(subscribe));
          },
          async showChat(chatId) {
            this.selectedChat = chatId;
            this.selectedChatInfo = (await axios.get(this.baseUrl + `chat/${chatId}/info`)).data;
            this.selectedChatUsers = (await axios.get(this.baseUrl + `chat/${chatId}/users`)).data;
            this.selectedChatMessages = null;
            this.selectedChatMessages = (await axios.get(this.baseUrl + `chat/${chatId}/messages`)).data;
            setTimeout(()=>{
              this.$refs.scrollArea.setScrollPercentage(100, 2000);
            },500,this);
          },
          async addUserToChat(userId) {
            await axios.get(this.baseUrl + `chat/${this.selectedChat}/user/${this.addUserId}/append`);
            this.addUserId = null;
            this.selectedChatUsers = (await axios.get(this.baseUrl + `chat/${this.selectedChat}/users`)).data;
          },
          async createChat() {
            const response = await axios.post(this.baseUrl + `chat/new`);
            this.chats = (await axios.get(this.baseUrl + `chats`)).data;
          },
          async sendMessage() {
            const response = await axios.post(this.baseUrl + `chat/${this.selectedChat}/message`, {
              type: 'text',
              content: this.message,
            });
            this.message = null;
            setTimeout(()=>{
              this.$refs.scrollArea.setScrollPercentage(100,1000);
            },500,this);            
            // this.selectedChatMessages = (await axios.get(this.baseUrl + `chats/${this.selectedChat}/messages`)).data;
          },
          async deleteUserIdFromChat (userId) {
            await axios.get(this.baseUrl + `chat/${this.selectedChat}/user/${userId}/delete`);
            this.selectedChatUsers = (await axios.get(this.baseUrl + `chat/${this.selectedChat}/users`)).data;
          },
          async unshiftMessage(chatId, message) {
            this.selectedChatMessages.push(message);
          },
          async getMessageStatus(chatId, messageId) {
            await axios.get(this.baseUrl + `chat/${chatId}/message/${messageId}/info`);
          },
          async setMessageStatusReceived(chatId, messageId) {
            await axios.get(this.baseUrl + `chat/${chatId}/message/${messageId}/received`);
          },
          async setMessageStatusViewed(chatId, messageId) {
            await axios.get(this.baseUrl + `chat/${chatId}/message/${messageId}/viewed`);
          },
          async setAllMessagesStatusViewed(chatId) {
            await axios.get(this.baseUrl + `chat/${chatId}/messages/viewed`);
          },
        },
      });
    </script>
  </body>
</html>